server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          __path__: /var/log/*log

  - job_name: nginx
    static_configs:
      - targets:
          - localhost
        labels:
          job: nginx_access
          __path__: /var/log/nginx/*.log

  - job_name: mqtt
    static_configs:
      - targets:
          - localhost
        labels:
          job: mqtt_output
          __path__: /var/log/mosquitto/*.log

  - job_name: seeder
    static_configs:
      - targets:
          - localhost
        labels:
          job: seeder_output
          __path__: /var/log/seed_output/*.log