global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'api'
    scrape_interval: 5s
    metrics_path: /metrics
    static_configs:
      - targets: ['api:8080']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
