name: Cleanup
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  delete-old-images:
    name: Delete old images
    runs-on: ubuntu-22.04
    permissions:
      packages: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        image:
          - api
          - web
          - crawler
          - reader
          - seeder
          - migrations
          - mqtt
          - scheduler
          - grafana
          - prometheus
          - loki
          - promtail
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Execute Cleanup Script
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OWNER: ${{ github.repository_owner }}
        run: |
          FULL_REPO="${GITHUB_REPOSITORY,,}"
          REPO_NAME_ONLY="${FULL_REPO#*/}"
          
          export PACKAGE_NAME="$REPO_NAME_ONLY/${{ matrix.image }}"
          
          echo "Processing package: $PACKAGE_NAME"
          
          chmod +x scripts/delete_old_versions.sh
          ./scripts/delete_old_versions.sh
